<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	
	<key>application-identifier</key>
	<string>2P6AU6VY59.com.triptether.mapping</string>
	
	<key>keychain-access-groups</key>
	<array>
		<string>2P6AU6VY59.com.triptether.mapping</string>
	</array>
</dict>
</plist>
